<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info">

	<variable name="LogPath" value="C:\AkkaWebTemplate"/>

	<targets async="true" >
		
		<target name="LogControl"
			  xsi:type="File"
			  fileName="${LogPath}/AkkaLog.log"
			  archiveFileName="${LogPath}/AkkaLog.{#}.log"
			  archiveNumbering="DateAndSequence"
			  archiveAboveSize="1000000"
			  encoding="utf-8"
			  maxArchiveFiles="5"
			  archiveDateFormat="yyyyMMdd"
			  archiveEvery="Day"
		/>

		<target name="PlcMgrLog"
				xsi:type="File"
				fileName="${LogPath}/PlcMgrLog.log"
				archiveFileName="${LogPath}/PlcMgrLog.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				encoding="utf-8"
			    maxArchiveFiles="5"
				archiveDateFormat="yyyyMMdd"
				archiveEvery="Day"
       />

		<target name="PlcRcvLog"
			xsi:type="File"
			fileName="${LogPath}/PlcRcvLog.log"
			archiveFileName="${LogPath}/PlcRcvLog.{#}.log"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="1000000"
			encoding="utf-8"
			maxArchiveFiles="5"
			archiveDateFormat="yyyyMMdd"
			archiveEvery="Day"
       />

		<target name="PlcRcvEditLog"
			xsi:type="File"
			fileName="${LogPath}/PlcRcvEditLog.log"
			archiveFileName="${LogPath}/PlcRcvEditLog.{#}.log"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="1000000"
			encoding="utf-8"
			maxArchiveFiles="5"
			archiveDateFormat="yyyyMMdd"
			archiveEvery="Day"
       />

		<target name="PlcSndLog"
			xsi:type="File"
			fileName="${LogPath}/PlcSndLog.log"
			archiveFileName="${LogPath}/PlcSndLog.{#}.log"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="1000000"
			encoding="utf-8"
			maxArchiveFiles="5"
			archiveDateFormat="yyyyMMdd"
			archiveEvery="Day"
       />

		<target name="PlcSndEditLog"
			xsi:type="File"
			fileName="${LogPath}/PlcSndEditLog.log"
			archiveFileName="${LogPath}/PlcSndEditLog.{#}.log"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="1000000"
			encoding="utf-8"
			maxArchiveFiles="5"
			archiveDateFormat="yyyyMMdd"
			archiveEvery="Day"
       />
		
	</targets>

	<rules>
		<logger name="PlcMgrLog" minlevel="Debug" writeTo="PlcMgrLog"/>
		<logger name="PlcRcvLog" minlevel="Debug" writeTo="PlcRcvLog" />
		<logger name="PlcRcvEditLog" minlevel="Debug" writeTo="PlcRcvEditLog"/>
		<logger name="PlcSndLog" minlevel="Debug" writeTo="PlcSndLog" />
		<logger name="PlcSndEditLog" minlevel="Debug" writeTo="PlcSndEditLog" />

		<logger name="*" minlevel="Debug" writeTo="LogControl" />
	</rules>
</nlog>